RewriteEngine On

# If the request is for an existing file or directory, serve it directly
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^login/?$ pages/login.php [L]
RewriteRule ^register/?$ pages/register.php [L]
RewriteRule ^logout/?$ pages/logout.php [L]
RewriteRule ^kantin/?$ pages/kantin.php [L]
RewriteRule ^kantin-1/?$ pages/kantin-1.php [L]
RewriteRule ^checkout/?$ pages/checkout.php [L]
RewriteRule ^payment-qris/?$ pages/payment-qris.php [L]
RewriteRule ^payment-success/?$ pages/payment-success.php [L]
RewriteRule ^dashboard/([^/]+)/?$ pages/dashboard.php?kantin=$1 [L,QSA]
